---
import Layout from '../../layouts/Layout.astro';
import {Nav} from '../../components/Nav'
import { Footer } from '../../components/Footer';
---
    <Layout>
      <Nav client:load/>
      <article id="blog-catalog" class="transition duration-500 ease-in-out dark:bg-zinc-900 bg-gray-50 flex flex-col items-start pt-2 sm:items-center py-12 max-w-prose mx-auto">
        <div class="max-w-2xl text-left justify-center pb-6 border-b border-gray-200 dark:border-zinc-700">
          <h1 class="text-4xl font-bold text-gray-900 mb-4 transition-colors dark:text-zinc-50 leading-tight">
            Railway Functions Blew Me Away.
          </h1>
          <p class="dark:text-zinc-300 text-gray-600 leading-relaxed italic text-xl mb-2">
            A look at Railway functions - the most convenient way I've seen to deploy serverless functions & how I implemented a blog post view counter using them.
          </p>
          <div class="flex items-center mt-4 text-sm text-gray-500 dark:text-zinc-400">
            <span>March 12, 2025</span>
            <span class="mx-2">•</span>
            <span>x min read</span>
            <span class="mx-2">•</span>
            <span></span>
          </div>
        </div>
        
        <div class="dark:text-zinc-300 text-gray-600 leading-relaxed max-w-2xl w-full">
          <h2 class="text-2xl font-semibold text-gray-900 dark:text-zinc-50 mt-10 mb-4">
            Intro + Background
          </h2>
          <p class="mb-6 text-xl">
            I've been using <a class="text-amber-300" href="https://railway.com">Railway</a> for a while now for pretty much everything I build. Usually a Postgres DB + a docker containerized server. This has worked out great for me,
            and I love the convenience, and ecosystem that Railway provides. In this blog post I want
            to cover what Railway functions are, how you can get started with them, and a quick walk through of how I implemented a blog post view counter using them.
          </p>
          
          <h2 class="text-2xl font-semibold text-gray-900 dark:text-zinc-50 mt-10 mb-4">
            What are Railway functions?
          </h2>
          <p class="mb-6 text-xl">
            If you're familiar with AWS Lambda, Railway functions are very similar with a few added conveniences, limitations, and benefits.

          </p>
          <h2 class="text-2xl font-semibold text-gray-900 dark:text-zinc-50 mt-10 mb-4">
            Getting started with Railway Functions
          </h2>
          <p class="mb-6 text-xl">
            One of my favorite things about Railway is how easy they make their infra
            tools to use. To use railway functions you'll want to head to <a>railway.com</a> and sign up/login
            (you can use your GitHub account). Then create a new empty project, click add a service, and select function.
            You can edit the function code in the built-in editor, and then deploy it to the cloud. 
            Ridiculously simple huh?
          </p>

          <h2 class="text-2xl font-semibold text-gray-900 dark:text-zinc-50 mt-10 mb-4">
            The biggest use cases I see for Railway functions at the moment
          </h2>

          <p class="mb-6 text-xl">
            Lots honestly, the ability to spin up a function in a few clicks at buns lightning speed is
            really awesome. I'll list a few of the biggest use cases I see for them at the moment:
          </p>
          <ul class="mb-6 text-xl list-disc list-inside">
            <li>Mostly static sites with a few dynamic bits</li>
            <li>Simple API's</li>
            <li>Cron jobs</li>
            <li>DB migrations</li>
            <li>Testing a new feature</li>
          </ul>

          <h2 class="text-2xl font-semibold text-gray-900 dark:text-zinc-50 mt-10 mb-4">
            How I implemented a blog post view counter
          </h2>

          <p class="mb-6 text-xl">

          </p>
        </div>
      </article>
      <Footer/>
    </Layout>
