<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/jd-favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Jacob Dement - About & Projects</title>
		<meta name="description" content="Jacob Dement - A Software Engineer who loves building useful, fun, and creative software! I also freelance, and stay active in many developer communites!" />
		<meta name="keywords" content="Jacob Dement, projects, about, web development, portfolio, Jacob, Dement, Software Engineer, Jacob Dement Software" />
		<meta name="author" content="Jacob Dement" />
		<meta property="og:title" content="Jacob Dement - About & Projects" />
		<meta property="og:description" content="Jacob Dement - A Software Engineer who loves building useful, fun, and creative software! I also freelance, and stay active in many developer communites!" />
		<meta property="og:image" content="/jd-favicon.png" />
		<meta property="og:url" content="https://jacob.dement.dev/" />
		<meta name="twitter:card" content="/jd-favicon.png" />
		<meta name="twitter:title" content="Jacob Dement - About & Projects" />
		<meta name="twitter:description" content="Jacob Dement - A Software Engineer who loves building useful, fun, and creative software! I also freelance, and stay active in many developer communites!" />
		<meta name="twitter:image" content="/jd-favicon.pngg" />
		<link rel="canonical" href="https://jacob.dement.dev/" />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
