body {
  padding-top: 120px; /* Adjust this value based on the height of your nav */
  background-color: var(--nav-padding-color-light);
}

.dark body {
  background-color: var(--nav-padding-color-dark);
}
