.theme-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    animation: rotate 1s infinite linear;
    will-change: transform, opacity; /* Hint to the browser */
}

.theme-icon.loaded {
    animation: none;
}

.theme-icon svg {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transform: translateZ(0); 
    -webkit-transform: translateZ(0); 
    backface-visibility: hidden; 
    -webkit-backface-visibility: hidden;
}

.theme-icon.loaded #light {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out, bobble 0.5s ease-in-out;
}

.theme-icon.loaded #moon {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out, bobble 0.5s ease-in-out, moonAnimation 1s ease-in-out;
}

#light-u-rays line {
    animation: raysAnimation 1s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0.99; /* Almost fully opaque */
    }
    100% {
        opacity: 1;
    }
}

@keyframes bobble {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes raysAnimation {
    0% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moonAnimation {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}